.docs-footer {
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0 auto 0 auto;
    color: #99979c;
    background-color: #2a2730;
}

#info_table {
    text-align: center;
    margin: 50% auto 20% auto;
}

#content {
    padding-top: 20%;
}

.avatar {
    width: 64px;
    height: 64px;
}